@import "@firecms/ui/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fcms-primary: #e4b61d;
    --fcms-primary-bg: rgba(228, 182, 29, 0.1);
    --fcms-secondary: #5fc363;
}

body {
	@apply w-full h-dvh bg-surface-50 dark:bg-surface-900 flex flex-col items-center justify-center;
}

#root{
	@apply h-dvh w-full bg-home sm:bg-sm-home lg:bg-lg-home lg-h:bg-lg-h-home xl-h:bg-xl-h-home
			2xl:bg-2xl-home bg-no-repeat bg-cover bg-center bg-[#fef3d5];
}

.login-view > div{
	@apply  absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] p-2 rounded-xl;
}

.login-view button {
	@apply bg-primary hover:bg-[#B79115] focus:bg-[#B79115] hover:border-[#B79115] focus:border-[#B79115] text-text-primary hover:text-text-primary shadow-button;
}

.login-view img{
	@apply  hidden;
}

.login-view .typography-subtitle2 {
	@apply bg-surface-accent-200/50 p-2 rounded-md;
}

.login-view input, .login-view input::placeholder {
	@apply text-text-primary font-medium;
}

.typography-button {
		@apply h-10 rounded-[40px] hover:bg-[#B79115] focus:bg-[#B79115];
}