@import "@firecms/ui/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fcms-primary: #e4b61d;
    --fcms-primary-bg: #e4b61d47;
    --fcms-secondary: #5fc363;

		--fcms-primary-hover: #B79115;
}

body {
	@apply w-full h-dvh bg-surface-50 dark:bg-surface-900 flex flex-col items-center justify-center;
}

#root{
	@apply h-dvh w-full bg-home sm:bg-sm-home lg:bg-lg-home lg-h:bg-lg-h-home xl-h:bg-xl-h-home
			2xl:bg-2xl-home bg-no-repeat bg-cover bg-center bg-[#fef3d5];
}

.login-view > div{
	@apply  absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] p-2 rounded-xl;
}

.login-view button {
	@apply bg-primary hover:bg-[var(--fcms-primary-hover)] focus:bg-[var(--fcms-primary-hover)] hover:border-[var(--fcms-primary-hover)] focus:border-[var(--fcms-primary-hover)] text-text-primary hover:text-text-primary shadow-button;
}

.login-view img{
	@apply  hidden;
}

.login-view .typography-subtitle2 {
	@apply text-text-primary bg-surface-accent-200/50 p-2 rounded-md;
}

.login-view input {
	@apply bg-surface-accent-200/50 hover:bg-surface-accent-200/50 focus:bg-surface-accent-200/50;
}

.max-w-\[480px\].w-full.flex.flex-col.gap-4 > button.cursor-pointer.text-surface-accent-600.visited\:text-surface-accent-600.dark\:text-surface-accent-300.dark\:visited\:text-surface-300.bg-transparent.inline-flex.items-center.justify-center.text-sm.focus\:outline-none.ease-in-out.duration-150.hover\:bg-surface-accent-200.hover\:bg-opacity-75.dark\:hover\:bg-surface-accent-800.hover\:scale-105.transition-transform.rounded-full.w-10.\!h-10.min-w-10.min-h-10{
	@apply text-text-primary;
}


.login-view input,
.login-view input::placeholder {
	@apply text-text-primary font-medium;
}

.typography-button {
		@apply h-10 rounded-[40px] hover:bg-[var(--fcms-primary-hover)] focus:bg-[var(--fcms-primary-hover)];
}

.typography-button.border-primary {
	@apply hover:text-text-primary hover:border-[var(--fcms-primary-hover)] hover:ring-[var(--fcms-primary-hover)] hover:bg-[var(--fcms-primary-hover)];
}

.typography-button.text-white {
	@apply text-text-primary hover:text-text-primary hover:border-[var(--fcms-primary-hover)] hover:ring-[var(--fcms-primary-hover)];
}

.typography-button.border-transparent {
	@apply  hover:text-text-primary;
}

div .no-scrollbar.absolute > div {
	@apply block;
}

button.cursor-pointer.text-surface-accent-600.visited\:text-surface-accent-600.dark\:text-surface-accent-300.dark\:visited\:text-surface-300.bg-transparent.inline-flex.items-center.justify-center.p-2.text-sm.font-medium.focus\:outline-none.ease-in-out.duration-150.hover\:bg-surface-accent-200.hover\:bg-opacity-75.dark\:hover\:bg-surface-accent-800.hover\:scale-105.transition-transform.rounded-full.w-10.\!h-10.min-w-10.min-h-10 {
	@apply text-[#0db8a6] dark:text-[#5de0d3];
}

.w-full.sticky.py-4.transition-all.duration-400.ease-in-out.top-0.z-10.flex.flex-row.gap-4{
	@apply hidden;
}
 
span.material-icons.block.select-none.transition{
	@apply text-text-secondary dark:text-text-secondary-dark;
}

.h-10.flex.items-center.w-full.justify-between.text-surface-300.dark\:text-surface-600 > span.material-icons.block.select-none {
	@apply text-text-secondary dark:text-text-secondary-dark;
}